.sidebar--container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.side--menu{
    display: block;
    margin-top: 40px;

}
.side--menu>ul{
    list-style-type: none;
}
.side--menu ul li{
    margin-bottom: 30px;
    font-size: large;

}
.side--menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: .4s;
    
}
.side--menu ul li:hover a{
    padding-left: 3px;
}
.logout--btn{
    margin-bottom: 2px;
}

